{{ block "index" . }}


<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Christian Bradley</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/styles.css">
		<script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	</head>
	<body>
		<section id="introduction">
			<div class="left">
				<h1 class="name">Christian Bradley</h1>
				<h2 class="tagline"><strong>Software Engineer</strong><span class="small"><em> - Charlotte, NC</em></span></h2>
				<p>I'm a developer moving over from IT that likes solving problems. I have primarily worked with Go to create command line tools, servers, and various libraries. I'm currently working on learning more about network traffic and Kubernetes. See my projects below.</p>
			</div>			
			<div class="right">
				<div class="circle-pic">
					<image class="profile-pic" src="/images/profile-pic.jpg" alt="profile-picture"/>
				</div>
				<div class="social-links">
					<a href="github.com/chrisgbradley"><i class="fa-brands fa-github fa-2xl"></i></a>
					<a href="linkedin.com/chrisgbradley"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
				</div>
			</div>
		</section>
		<section id="featured">
			<div id="projects">
				{{ range .Data.Projects }}
					{{ template "project" . }}
				{{ end }}
			</div>
		</section>
	</body>
</html>
{{ end }}

{{ block "project" . }}
<div id="project-{{ .Id }}">
	<h2>{{.Name}}</h2>
	<p>{{ .Description }}</p>
	<a href="{{.Link}}">See the project</a>
</div>
{{ end }}
