html {
	margin: 0;
	padding: 0;
}

body { 
	font-size: 1.25em;
}

section {
	max-width: 1280px;
	margin: 0 auto;
}

h1, h2, h3, h4 {
	font-family: "Raleway", sans-serif;
	font-weight: 900;
}

p {
	font-family: "Anonymous Pro", sans-serif;
	font-weight: 400;
}

a { 
	font-family: "Anonymous Pro", sans-serif;
	font-weight: 400;
}

#introduction {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 50px;
}

.name {
	font-size: 2.2em;
}

.tagline {
	font-size: 1.4em;
	font-weight: 700;
}

.tagline > .small {
	font-size: .75em;
	font-weight: 600;
	color: #999;
}

.left {
	max-width: 60%;
	
}

.right {
	
}

.circle-pic {
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	width: 400px;
	height: 400px;
}

.profile-pic {
	height: 625px;
}

.social-links {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	padding-top: 15px;
	color: #000;
}

.social-links a {
	color: #000;
}

.social-links a:hover {
	color: #444;
}

.social-links a:focused {
	color: purple;
}

#featured {
	padding-top: 50px;
}
#projects {
}

#projects .tags {
	display: flex;
}

#projects .tags .tag {
	background-color: #DDD;
	color: #333;
	padding: 5px 18px;
	margin-right: 10px;
	border-radius: 3px;
	font-size: .75em;
}

.project-link {
	display: inline-block;
	background-color: #000;
	color: #FFF;
	padding: 10px 20px;
	border-radius: 3px;
	margin-top: 10px;
	text-decoration: none;
	transition: all .2s ease;
}

.project-link:hover {
	background-color: #DDD;
	color: #444;
}

.project-link:active {
	background-color: #665687;
	color: #444;
}
